DATABASE_URL="postgresql://neondb_owner:dfsdfsdfsdf@sdfsdfsdfsdf/neondb?sslmode=require"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:sdfsdfsdf@ep-sdfsdfsdfsdf.us-east-2.aws.neon.tech/neondb?sslmode=require"
AWS_SECRET=/sdfsdfsdfsd
AWS_ACCESS_KEY_ID=sdfsdfsd
AWS_BUCKET_NAME=sdfsdfsdf
AWS_BUCKET_REGION=ap-south-1
